.scroll-target {
  scroll-margin-top: 90px;
}

.scroll-target-intro {
  scroll-margin-top: 200px;
}

.scroll-target-edu {
  scroll-margin-top: 50px;
}

nav {
  display: flex;
  padding: 5px 50px;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1.5px solid black; */
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #ffffff;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.nav-name {
  letter-spacing: 2px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.nav-name::before {
  content: "<";
  color: #6156df;
}

.nav-name::after {
  content: "/>";
  color: #df1559;
}

.nav-lists {
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.nav-items {
  background-color: white;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-items button {
  font-family: inherit;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 15px;
  cursor: pointer;
}

.nav-items button:hover {
  color: #df1559;
}

.nav-socials {
  background-color: white;
  list-style: none;
  display: flex;
  gap: 10px;
  font-size: 18px;
}

.nav-socials > li > a{
  color: #000000;
}

.hamburger-menu {
  display: none;
}

.responsive-border {
  display: none;
}

/* navi styling above */

body {
  font-family: "JetBrains Mono", monospace;
  margin: 0;
}

.container {
  width: 70%;
  margin: 0 auto;
}

/* intro section */

.intro-container {
  margin: 120px 0 180px;
}

.intro-text-1 {
  color: #000000;
  margin: 0;
}

.intro-text-name {
  color: #6156df;
  font-size: 3rem;
  font-weight: bold;
  margin: 20px 0;
}

.intro-text-2 {
  color: #000000;
  font-size: 13px;
  width: 50%;
  line-height: 1.8;
  margin: 20px 0 40px;
}

.intro-btn {
  color: #6156df;
  font-family: inherit;
  background-color: transparent;
  border: 2px solid #6156df;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 14px;
}

.intro-btn:hover{
  background-color: #6156df;
  color: #ffffff;
}

/* about section */

.about-container {
  margin-bottom: 120px;
  display: flex;
  align-items: start;
}

.about-text p {
  line-height: 2;
  margin-top: 50px;
  width: 80%;
}

.arrow-svg {
  position: relative;
  width: 120px;
  transform: rotateZ(22deg);
  left: -60px;
  top: -40px;
}

.about-text a {
  color: #ffffff;
  text-decoration: none;
  font-family: inherit;
  background-color: #6156df;
  border: 2px solid #6156df;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 14px;
  position: relative;
  left: -70px;
  top: -50px;
}

.fa-download {
  margin-right: 10px;
}

.about-title-text {
  font-size: 60px;
  color: #6156df;
  margin: 0;
}

.about-title-text span {
  color: #df1558a1;
}

.about-img-container {
  /* width: 1000px; */
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 30px;
  border-radius: 10px;
}

.my-img {
  width: 100%;
  border-radius: 10px;
}

.about-img-container p {
  margin-bottom: 0;
}

.img-text-name {
  color: #6156df;
  font-weight: bold;
}


.img-text-name span {
  font-size: 10px;
  color: #6256df84;
}

.img-text-name span::before {
  content: ".";
  margin-right: 5px;
  color: #6156df;
}

.img-text-loc,
.img-text-mail {
  font-size: 11px;
  color: #6156df;
}

.img-text-loc i,
.img-text-mail i {
  color: #6256df;
  margin-right: 5px;
}

/* education section  */

.education-container {
  margin-bottom: 150px;
}

.edu-title-text {
  font-size: 60px;
  color: #6156df;
  margin: 0;
}

.edu-title-text span {
  color: #df1558a1;
}

.education-items-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.education-item {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 20px;
}

.edu-sub {
  font-size: 18px;
}

.edu {
  display: flex;
  gap: 20px;
  font-size: 13px;
  color: #5a5757;
}

.edu p:first-child {
  color: #000000;
  font-weight: bold;
}

.edu i {
  color: #6256df84;
  margin-right: 5px;
}

/* skills section  */

.skills-container {
  margin-bottom: 150px;
}

.skill-tilt-text {
  font-size: 60px;
  color: #6156df;
  margin: 0;
}

.skill-tilt-text span:nth-child(1) {
  display: inline-block;
  transform: rotateY(180deg);
}

.skill-tilt-text span:nth-child(2) {
  color: #df1558a1;
}

.skills-items-container {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

@media screen and (min-width : 1300px) {
  .skills-items-container {
    justify-content: space-between;

  }
}

.skills-items-container>div {
  width: 100px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
  padding: 40px 20px;
}

.skills-items-container>div>i {
  font-size: 30px;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
}

.skills-items-container>div>p {
  font-size: 12px;
  margin: 3px 0 0;
}

.skills-items-container>div:hover i {
  color: #6156df;
  transform: translateY(-10px);
}

/* projects section  */

.projects-container {
  margin-bottom: 150px;
  display: flex;
  flex-direction: column;
}

.projects-tilt-text {
  font-size: 60px;
  color: #6156df;
  margin: 0;
}

.projects-tilt-text span:nth-child(1) {
  display: inline-block;
  transform: rotateY(180deg);
}

.projects-tilt-text span:nth-child(2) {
  display: inline-block;
  transform: translateY(-5px);
}

.projects-tilt-text span:nth-child(3) {
  display: inline-block;
  transform: translateY(15px);
}

.projects-tilt-text span:nth-child(4) {
  display: inline-block;
  transform: translateY(-8px);
}

.projects-tilt-text span:nth-child(5) {
  color: #df1558a1;
}

.project-items-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.project-item {
  color: #353232;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 10px;
}

.project-item-header {
  background: #020024;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 100%, rgba(0, 212, 255, 1) 100%);
  padding: 10px 15px 60px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.project-item-header>i {
  color: #ffffff;
  font-size: 20px;
  margin-top: -10px;
}

.project-links>a>svg {
  color: #ffffff;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  padding: 10px;
  margin-left: 10px;
}

.project-links>a :hover {
  background: rgba(255, 255, 255, 0.5);
}

.project-item-text {
  padding: 20px;
}

.project-title,
.project-sub-title {
  margin-top: 0;
  color: #6156df;
  font-weight: bold;
}

.project-title {
  font-size: 18px;
}

.project-sub-title {
  font-size: 14px;
}

.project-description {
  margin-top: 0;
  font-size: 13px;
  line-height: 1.8;
}

.project-feature {
  font-size: 13px;
  list-style: none;
  padding: 0;
  margin-left: -5px;
  line-height: 1;
}

.project-feature li::before {
  content: "• ";
  font-size: 30px;
  margin-right: -15px;
  color: #6156df;
  vertical-align: middle;
}

.project-techstack {
  padding: 0;
  list-style: none;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.project-techstack li {
  padding: 5px 10px;
  border: 0.5px solid #cdc7c7;
  border-radius: 50px;
}

.view-more-btn{
  text-decoration: none;
  background-color: #6156df;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
  align-self: center;
  margin-top: 50px;
}

.view-more-btn > svg{
  width: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

/* contact section  */

.contact-container {
  margin-bottom: 150px;
}

.contact-tilt-text {
  font-size: 60px;
  color: #6156df;
  margin: 0;
}

.contact-tilt-text span:nth-child(1) {
  display: inline-block;
  transform: translateY(-5px);
}

.contact-tilt-text span:nth-child(2) {
  display: inline-block;
  transform: translateY(5px);
}

.contact-tilt-text span:nth-child(3) {
  display: inline-block;
  transform: translateY(-8px);
}

.contact-tilt-text span:nth-child(4) {
  color: #df1558a1;
}

.contact-container > div{
  text-align: center;
  margin-top: 50px;
}

.contact-container > div > a {
  text-decoration: none;
  background-color: #6156df;
  color: #ffffff;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 14px;
}

.contact-container > div > p{
  font-size: 18px;
  width: 70%;
  line-height: 2;
  margin: 0 auto 50px;
}

footer {
  border-top: 0.5px solid #c5bbbb;
  padding: 20px 40px;
  font-size: 14px;
  color: #6d6a6a;
}

footer > span{
  margin-left: 50px;
}

@media screen and (max-width: 780px) {

  /* navigation bar responsive  */
  .hamburger-menu {
    display: block;
  }

  nav {
    justify-content: space-between;
    padding: 0 20px;
  }

  .nav-items {
    flex-direction: column;
    align-items: start;
  }

  .nav-lists {
    display: none;
    flex-direction: column;
    align-items: start;
    background-color: #fff;
    position: absolute;
    padding-left: 22px;
    padding-top: 20px;
    top: 60.8px;
    left: 0;
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .nav-items button {
    padding: 0;
  }

  .nav-socials {
    padding: 0;
  }

  .fa-xmark,
  .fa-bars {
    font-size: larger;
  }

  .nav-border {
    border-color: #e8e0e0;
  }

  .active {
    display: flex;
  }


  /* about responsive  */

  .about-img-container {
    display: none;
  }

  .arrow-svg {
    display: none;
  }

  .about-text a {
    top: 0;
    left: 0;
  }


  /* education responsive  */
  .education-items-container {
    grid-template-columns: 1fr;
  }

  .edu {
    flex-direction: column;
    gap: 0;
  }
}